div {
  justify-content: center;
  text-align: center;
}

button:hover {
  background-color: brown;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 10rem;
  margin: 0 auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  padding: 2.75rem;
  font-size: var(--font_size_3r);
  text-align: center;
}