<div class="grid-container">
  <button class="grid-item" (click)="AlegePatrat('1')">{{patrat[1]}}</button>
  <button class=" grid-item" (click)="AlegePatrat('2')">{{patrat[2]}}</button>
  <button class="grid-item" (click)="AlegePatrat('3')">{{patrat[3]}}</button>
  <button class="grid-item" (click)="AlegePatrat('4')">{{patrat[4]}}</button>
  <button class="grid-item" (click)="AlegePatrat('5')">{{patrat[5]}}</button>
  <button class="grid-item" (click)="AlegePatrat('6')">{{patrat[6]}}</button>
  <button class="grid-item" (click)="AlegePatrat('7')">{{patrat[7]}}</button>
  <button class="grid-item" (click)="AlegePatrat('8')">{{patrat[8]}}</button>
  <button class="grid-item" (click)="AlegePatrat('9')">{{patrat[9]}}</button>
</div>