.flex_container {
  display: flex;
  justify-content: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.grid_item_1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid_item_2 {
  grid-column-start: 3;
  grid-column-end: 4;
}