/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --font_size_3r: 3rem;
  --font_size_2_5r: 2.5rem;
}

body {
  background-color: aqua;
  margin: 0;
}